<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
  <title><%= yield(:title) %> | Sample App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      The about of <em>Sample_app</em>
    </p>
  </body>
</html>
